{
    "database": {
        "driver": "pgsql",
        "host": "127.0.0.1",
        "database": "database_name",
        "username": "user",
        "password": "secret"
    },
    "botaccount": {
        "regname": "Ocean",
        "xatid":"10101",
        "password": "",
        "pin": "",
        "pw": "",
        "forcelogin": true
    },
    "developers": [
        412345607,
        1000000000,
        45193538
    ],
    "apikeys": {
        "youtube": "",
        "google": "",
        "twitch": "",
        "twitter": {
            "consumer_key": "",
            "consumer_secret": "",
            "oauth_token": "",
            "oauth_token_secret": ""
        },
        "weather": "",
        "spotify": {
            "client_id": "",
            "secret_id": "",
            "redirect_uri": ""
        }
    },
    "config": {
        "website_url": "https://example.fr"
    }
}
