{
    "database": {
        "driver": "pgsql",
        "host": "127.0.0.1",
        "database": "database_name",
        "username": "user",
        "password": "secret"
    },
    "botaccount": {
        "regname": "Ocean",
        "xatid":"10101",
        "password": "",
        "pin": "",
        "pw": "",
        "forcelogin": true
    },
    "developers": [
        412345607,
        1000000000,
        45193538
    ],
    "apikeys": {
        "youtube": "",
        "google": "",
        "twitter": {
            "consumer_key": "",
            "consumer_secret": "",
            "oauth_token": "",
            "oauth_token_secret": ""
        },
        "weather": ""
    }
}
